@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap&family=Roboto:ital,wght@0,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.rancho {
    font-family: "Rancho", sans-serif;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

.dms {
    font-family: "DM Serif Display", serif;
    font-style: italic;
}

:root {
    font-family: "Cabin", sans-serif;
}

.flip-card{
perspective: 1000px;
}

.flip-card-inner{
    transition: transform ease 0.6s;
    
    transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back{
    position: absolute;
    backface-visibility: hidden;
}

.flip-card-back{
    transform: rotateY(180deg);
}